@import url('https://fonts.googleapis.com/css?family=Tangerine');

.body {
  background-color: #f4bd15;
}

.header {
  background-color: #ffd943;
  
  font-family: Tangerine;
  font-size: x-large;
  color: rgb(0,0,0);
  text-align: center;
}

.nav {
  background-color: #ffffff;
  
  font-family: Tangerine;
  font-size: x-large;
  color: rgb(0,0,0);
}

.info1 {
  background-color: #ffd943;
  
  font-family: Tangerine;
  font-size: x-large;
  color: rgb(0,0,0);
  text-align: center;
}

.info2 {
  background-color: #ffd943;
  
  font-family: Tangerine;
  font-size: x-large;
  color: rgb(0,0,0);
  text-align: center;
}

.info3 {
  background-color: #ffd943;
  
  font-family: Tangerine;
  font-size: x-large;
  color: rgb(0,0,0);
  text-align: center;
}

#picture {
  width: 90%;
}
