@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

.body {
  background-color: #ef902a;
}

.header {
  background-color: #f4bd15;
  
  font-family: Crimson Text;
  color: #ffffff;
  text-align: center;
}

.nav {
  background-color: #ffffff;
  
  font-family: Crimson Text;
  color: #000000;
}

.info1 {
  background-color: #ffd943;
  
  font-family: Crimson Text;
  color: #000000;
  text-align: center;
}

.info2 {
  background-color: #ffffff;
  //background-image: url("");
  display:none;
  font-family: Cedarville Cursive;
  color: #000000;
  text-align: left;
}

.info3 {
  background-color: #ffd943;
  
  font-family: Crimson Text;
  color: #000000;
  text-align: center;
}
