@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.body {
  background-color: rgb(0,0,0);
  //background-image: url("");
}

.header {
  background-color: rgb(0,0,0);
  //background-image: url("");
  
  font-family: Source Code Pro;
  color: rgb(255,255,255);
  text-align: center;
}

.nav {
  background-color: rgb(0,0,0);
  //background-image: url("");
  
  font-family: Source Code Pro;
  color: rgb(255,255,255);
}

.info1 {
  background-color: rgb(0,0,0);
  //background-image: url("");
  
  font-family: Source Code Pro;
  color: rgb(255,255,255);
  text-align: center;
}

.info2 {
  background-color: rgb(0,0,0);
  //background-image: url("");
  
  font-family: Source Code Pro;
  color: rgb(255,255,255);
  text-align: center;
}

.info3 {
  background-color: rgb(0,0,0);
  //background-image: url("");
  
  font-family: Source Code Pro;
  color: rgb(255,255,255);
  text-align: center;
}
